*.bw filter=lfs diff=lfs merge=lfs -text
SW480_4C_1_WIN21.bw filter=lfs diff=lfs merge=lfs -text
HCT116_PBX1_20230426.bw filter=lfs diff=lfs merge=lfs -text
PBX1.hg38. filter=lfs diff=lfs merge=lfs -text
PBX1_rep1_SeqDepthNorm.bw filter=lfs diff=lfs merge=lfs -text
SW480-sg11-OE0-FOXQ1-5_SeqDepthNorm.bw filter=lfs diff=lfs merge=lfs -text
*.bed filter=lfs diff=lfs merge=lfs -text
FLAG-FOXQ1_rep1.normalized.bw filter=lfs diff=lfs merge=lfs -text
FLAG-FOXQ1_rep2.normalized.bw filter=lfs diff=lfs merge=lfs -text
H3K27AC-FOXQ1_raw.bw filter=lfs diff=lfs merge=lfs -text
H3K27AC-NC_raw.bw filter=lfs diff=lfs merge=lfs -text
H3K4ME1-FOXQ1_raw.bw filter=lfs diff=lfs merge=lfs -text
H3K4ME1-NC_raw.bw filter=lfs diff=lfs merge=lfs -text
